<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd
 ">

	<!-- Spring scan all classes from define package -->
	<context:component-scan
		base-package="com.spring.mvc" />

	<!-- Add Prefix and Suffix for view using ViewResolver(InternalResourceViewResolver) -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- ================Database===================== -->
	<!-- Enable @Transactional Annotation -->
	<tx:annotation-driven />

	<!-- DataSource -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/student_manage" />
		<property name="username" value="root" />
		<property name="password" value="Ridsid898" />
	</bean>

	<!-- LocalSessionFactoryBean -->
	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="factory">
		<!-- Provide DataSource -->
		<property name="dataSource" ref="ds" />

		<!-- Provide Hibernate Properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

		<!-- Provide Annotated Class -->
		<property name="annotatedClasses">
			<list>
				<value>com.spring.mvc.bean.UserBean</value>
			</list>
		</property>
	</bean>

	<!-- HibernateTemplate -->
	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="hibernateTemplate">
		<property name="sessionFactory" ref="factory" />
	</bean>

	<!-- Transaction Manager : For turn on writing mode -->
	<bean
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		name="transactionManager">
		<property name="sessionFactory" ref="factory" />
	</bean>

</beans>